body {
   background: none !important;
   height: 100%;
   margin: 20px;
   padding: 0;
   font-family: Times new Roman;
   
}
header {
  
    text-align: center;
    border-width: 1px 20px 1px 0px;
   border-style: solid;
   font-variant: small-caps slashed-zero;
   line-height: 1.8;
   
}
aside::first-line {
   font-weight: bold;
   line-height: 1.3;
}
aside {
    
   text-align:right;
   display: inline-block;
   float: right;
  border-width: 0px 20px 0px 0px;
   border-style: solid;
   padding-right:20px;
   border-color: #4A406C;
}

h1 {
    font-size: 70px;
   text-align:left;
   font-weight: bold;
   display: inline-block;
   padding-top: 50px;
   padding-bottom: 50px;
}

.container {
  position: relative;
  text-align: center;
   
}

h2 {
    font-style: italic;
   font-size: 30px;
   text-align:center;
  
}
p {
  background-image: url("WidgetCoLogo.gif");
  background-size: cover;
  background-repeat: no-repeat;
   padding-left: 200px;
   padding-right:200px;
   text-align: justify;
   margin-bottom: 20px;
   
}
   
section{
  margin-left: 200px;
   margin-right:200px; 
  border-style: solid;
   border-width: 3px 3px 3px 30px; 
   border-color: green;
   text-align: justify;
   background-color: beige;
   padding-bottom: 10px;
   padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px
  
 
}



footer{
    border-top: 1px solid black;
   padding-top:10px;
   font-style: italic;
   color: grey;
   text-align:right;
   margin-top:20px;
}
footer a:link{
   color: grey;
   
}